.DS_Store
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.openapi-generator/
.openapi-generator-ignore
.qca-generator.yaml
.pytest_cache/
.coverage
build/
node_modules/
dist/
*.test
.env.live
.env
.env.*
!.env.live.example
